<mat-card class="karta">
    <mat-card-content class="dole">
        <p>Username</p>
        <mat-form-field>
            <input matInput type="text" class="username" [formControl]="usernameFormControl" [(ngModel)]="username">
            <mat-error *ngIf="usernameFormControl.hasError('required')">Username je <strong>neophodan</strong></mat-error>
        </mat-form-field>
        <mat-error *ngIf="!doubleUsername && username.length>0">Username koji ne postoji je <strong>neophodan</strong></mat-error>
        <p>Lozinka</p>
        <mat-form-field>
        <input matInput type="password" [(ngModel)]="pas" (ngModelChange)="checkPassword()">
        </mat-form-field>
        <ul>
            <li [ngClass]="{'valid': passwordLengthValid, 'invalid': !passwordLengthValid}">Između 8 i 20 karaktera</li>
            <li [ngClass]="{'valid': passwordHasNumber, 'invalid': !passwordHasNumber}">Najmanje 1 broj</li>
            <li [ngClass]="{'valid': passwordHasCapital, 'invalid': !passwordHasCapital}">Najmanje 1 veliko slovo</li>
        </ul>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-content class="sredina">
        <button mat-raised-button color="accent" (click)="navigateToNext()" [disabled]="!isFormValid()">Nastavite</button>
    </mat-card-content>
</mat-card>
