<!--<div *ngFor="let campground of campgrounds$ | async">
   <div (click)="select(campground.id)">
   <app-campground-post [campground]="campground"></app-campground-post>
</div>
</div>-->
<mat-card-content>
  <mat-form-field>
    <input matInput placeholder="Search campground" class="search" [(ngModel)]="search">
  </mat-form-field>
   <ul>
     <ng-container *ngFor="let campground of campgrounds$ | async">
      <app-campground-post [campground]="campground" (campgroundIdEmitter)="select($event)"></app-campground-post>
     </ng-container>
   </ul>
   <mat-paginator  [length]= "totalPosts" [pageSize]= "pageSize"  
   [pageSizeOptions]= "pageSizeOption" (page)= "onChangedPage($event)">  
   </mat-paginator>  
 </mat-card-content>