<h1 mat-dialog-title>Novi Oglas</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Naziv oglasa</mat-label>
    <input matInput placeholder="Unesite naziv oglasa" [(ngModel)]="title">
  </mat-form-field>



  <mat-form-field appearance="fill" style="width: 100%;">
    <mat-label>Opis oglasa</mat-label>
    <textarea matInput placeholder="Unesite opis oglasa" (input)="autoGrow($event)" [(ngModel)]="content"></textarea>
  </mat-form-field>
</div>

<div class="add-image-button">
  <button mat-raised-button class="dugmeZaSliku" (click)="fileInput.click()">
    Dodajte slike
  </button>
  <input type="file" #fileInput multiple (change)="onFilesSelected($event)" style="display: none;">
</div>

<div class="image-preview" *ngIf="selectedFiles.length > 0">
  <img *ngFor="let file of selectedFiles" [src]="file.url" alt="Selected image" class="preview-image">
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="accent" mat-dialog-close>Otkaži</button>
  <button mat-raised-button class="dugme" (click)="postaviOglas()">Postavi oglas</button>
</div>