<div class="center-container">
    <div class="cards-container">
      <mat-card *ngIf="campground && campground.images && campground.images.length>0" class="custom-card">
        <div class="slideshow-container">
          <button class="prev" (click)="prevImage()">&#10094;</button>
          <img class="slide" *ngFor="let image of campground.images; let i = index" [src]="'http://localhost:3000/'+image.fileName"
            [style.display]="i === currentSlideIndex ? 'block' : 'none'">
          <button class="next" (click)="nextImage()">&#10095;</button>
        </div>
        <h2>{{ campground.title }}</h2>
        <mat-divider></mat-divider>
        <p class="oglas-content">{{ campground.content }}</p>
        <div *ngIf="campground.latitude && campground.longitude" class="map-container">
          <google-map
            [height]="'400px'"
            [width]="'100%'"
            [center]="{ lat: +campground.latitude, lng: +campground.longitude }"
            [zoom]="12">
            <map-marker [position]="{ lat: +campground.latitude, lng: +campground.longitude }"></map-marker>
          </google-map>
        </div>
        <app-comment [campgroundId]="campground.id"></app-comment>
        <app-comment-list></app-comment-list>