<div class="container">
    <div class="left-card-container">
      <mat-card class="profile-card card-left">
        <mat-card-header class="card-header">
          <div class="profile-header">
            <div class="profile-picture">
              <img [src]="user?.profilePicture" alt="Profile Picture">
            </div>
            <div class="profile-info">
              <mat-card-title class="majstor-name">{{user?.username}} </mat-card-title>
            </div>
          </div>
        </mat-card-header>
        <div class="dugmad">
          <mat-card-actions>
            <button mat-raised-button class="dugme" (click)="openDialog()" >Editujte profil</button>
          </mat-card-actions>
          <mat-card-actions>
            <button mat-raised-button class="dugme" >Dodajte campground</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  
    <div class="right-card-container">
      <mat-card class="card-right">
        <mat-card-header class="card-header">
          <mat-card-title>Campgrounds</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
